
<div ng-if="changeLanguageCtrl.hotspotConfigModel.languages.length &gt; 1" ng-class="{'unifiPortalLanguage--rtl': changeLanguageCtrl.isRtl()}" class="unifiPortalLanguage">
  <div><a ng-repeat="language in changeLanguageCtrl.hotspotConfigModel.languages" ng-click="changeLanguageCtrl.changeLanguage(language); $event.preventDefault()" href="#" ng-attr-title="{{changeLanguageCtrl.LANGUAGES[language]}}" class="unifiPortalLanguage__flagIcon flag-icon flag-icon-{{changeLanguageCtrl.getFlag(language)}}"></a></div>
</div>
